/**********************************************/
* 
{ 
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;

    -GtkWidget-focus-line-pattern: "\0";

    -GtkCheckButton-indicator-size: 12;
    -GtkCheckMenuItem-indicator-size: 12;
    -GtkCellRendererToggle-indicator-size: 12;

    -GtkToolItemGroup-expander-size: 9;
    -GtkExpander-expander-size: 9;
    -GtkTreeView-expander-size: 9;

    -GtkMenuItem-arrow-scaling: 0.7;

    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;

    -GtkScrolledWindow-scrollbar-spacing: 3;

    -GtkRange-trough-border: 0;
    -GtkRange-stepper-spacing: -1;

    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-curvature: 0;
    -GtkNotebook-tab-overlap: 2;

    -GtkPaned-handle-size: 5;

    padding: 0;
    color: @fg_color;
    border-color: @border_color;
    border-style: solid;
    border-width: 1px;
}

*:prelight 
{
    background-color: shade(@bg_color, 1.03);
    color: @fg_color;
}

*:selected,
.view:selected,
.entry:selected
{
    background-color: @selected_bg_color1;
    color: @fg_color;
}

*:selected:focused,
.view:selected:focused,
.entry:selected:focused
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:focused
{
    color: @border_color;
}

.view:focused,
.entry:focused
{
    color: @fg_color;
}

*:insensitive 
{
    background-color: shade(@bg_color, 0.95);
    border-color: @insensitive_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

.background 
{
    background-color: @bg_color;
    border: none;
}
/**********************************************/


/**********************************************/
GtkLabel,
GtkLabel:active,
GtkLabel:insensitive,
GtkImage,
GtkImage:active,
GtkImage:insensitive 
{
    background-color: transparent;
    border-width: 0;
}
/**********************************************/


/**********************************************/
GtkStatusbar *
{
    border-width: 1px 0 0 0;
}

GtkStatusbar GtkLabel
{
    border-width: 0;
}
/**********************************************/


/**********************************************/
.tooltip
{
    background-color: @tooltip_bg_color;
    color: @tooltip_fg_color;
    padding: 0;
}
/**********************************************/


/**********************************************/
.view
{
    background-color: @base_color;
}
/**********************************************/


/**********************************************/
row 
{
    border-width: 0;
}

row:prelight
{
    background-color: shade(@base_color, 0.95);
}

row:nth-child(odd)
{
    background-color: shade(@base_color, 0.97);
}
/**********************************************/


/**********************************************/
.trough,
.trough row,
.trough row:prelight,
.trough row:selected,
.trough row:selected:focused
{
    background-color: mix(@fg_color, @bg_color, 0.9);
    border-width: 1px;
}

.trough row:selected
{
    border-color: @fg_color;
}

.trough row:selected:focused
{
    border-color: @selected_fg_color;
}

.scrollbar.button,
.scrollbar.button:prelight,
.scrollbar.button:active,
.scrollbar.button:prelight:active
{
    border-color: @border_color;
}

GtkProgressBar.trough
{
    background-color: @bg_color;
}

GtkScale
{
    border-color: @border_color1;
}

GtkScrolledWindow
{
    border: none;
}
/**********************************************/


/**********************************************/
GtkSwitch.trough 
{
    background-color: transparent;
}

GtkSwitch.trough:active 
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

GtkSwitch.trough:insensitive 
{
    background-color: shade(@bg_color, 0.95);
}
/**********************************************/


/**********************************************/
.slider 
{
    background-color: @bg_color;
}

.slider:insensitive
{
    background-color: shade(@bg_color, 0.95);
}
/**********************************************/


/**********************************************/
.separator
{
    color: @border_color;
}
/**********************************************/


/**********************************************/
.pane-separator 
{
    border-width: 0;
    background-color: @bg_color;
}

.pane-separator:prelight
{
    background-color: shade(@base_color, 0.95);
}
/**********************************************/


/**********************************************/
.button 
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    padding: 1px;
}

.button:prelight
{
    background-color: shade(@bg_color, 1.03);
}

.button:active,
.button:prelight:active
{
    background-color: shade(@bg_color, 0.9);
    border-right-color: #f3f1ef;
    border-bottom-color: #f3f1ef;
    border-left-color: #8c8477;
    border-top-color: #8c8477;
}

.button:insensitive 
{
    background-color: shade(@bg_color, 0.95);
    border-color: @insensitive_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

.spinbutton.button
{
    border: none;
}
/**********************************************/


/**********************************************/
.entry 
{
    background-color: @base_color;
    padding: 2px 2px 3px 2px;
}

.entry:insensitive 
{
    background-color: shade(@base_color, 0.95);
}
/**********************************************/


/**********************************************/
GtkCheckButton,
GtkCheckButton:selected,
GtkCheckButton:selected:focused,
GtkCheckButton:insensitive
{
    background-color: transparent;
}

.radio,
.radio:selected,
.radio:selected:focused
{
    background-color: @base_color;
    color: @selected_bg_color;
}

.check,
.check:selected,
.check:selected:focused
{
    background-color: @base_color;
    color: shade(@selected_bg_color, 0.9);
}

.radio:prelight,
.check:prelight,
.radio:prelight:focused,
.check:prelight:focused
{
    background-color: shade(@base_color, 1.03);
    border-color: @selected_bg_color;
}

.radio:insensitive,
.radio:insensitive:selected,
.check:insensitive,
.check:insensitive:selected
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

.check row,
.radio row
{
    background-color: @base_color;
    border-width: 1px;
}
/**********************************************/


/**********************************************/
GtkComboBox
{
    background-color: @base_color;
    border-width: 0;
}

GtkComboBox:insensitive 
{
    background-color: shade(@base_color, 0.95);
}

GtkComboBox .button
{
    padding: 0;
}
/**********************************************/


/**********************************************/
.toolbar
{
    padding: 2px 0;
    border-width: 0 0 1px 0;
}
/**********************************************/


/**********************************************/
.progressbar,
.progressbar row,
.progressbar row:prelight
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-width: 1px;
}

.progressbar row:selected
{
    border-color: @fg_color;
}

.progressbar row:selected:focused
{
    border-color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
.menubar 
{
    border-width: 0 0 1px 0;
}

.menubar .menuitem
{
    padding: 3px 7px 2px 7px;
}

.menubar .separator
{
    padding: 3px;
}

.menu, .menuitem 
{
    padding: 2px;
}

.menuitem 
{
    border-width: 0;
    background-color: @bg_color;
}

.menuitem:prelight,
.menuitem *:prelight
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.menuitem.check,
.menuitem.check:prelight,
.menuitem.radio,
.menuitem.radio:prelight
{
    background-color: @base_color;
    color: @selected_bg_color;
    border-color: @border_color;
    border-width: 1px;
}

.menuitem.check,
.menuitem.check:prelight
{
    color: shade(@selected_bg_color, 0.9);
}

.menuitem.radio:insensitive,
.menuitem.check:insensitive
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

.menuitem *:insensitive
{
    background-color: transparent;
}
/**********************************************/


/**********************************************/
.notebook
{
    padding: 3px;
    background-color: @bg_color;

    border-color: @base_color;
    border-right-color: @border_color;
    border-bottom-color: @border_color;
}

.notebook tab
{
    padding: 3px;
    background-color: mix(@fg_color, @bg_color, 0.9);
}

.notebook tab:active
{
    background-color: @bg_color;
}

.notebook tab.top
{
    padding-bottom: 1px;
    border-right-color: @border_color1;
    border-left-color: @border_color1;
}

.notebook tab:first-child.top
{
    border-left-color: @base_color;
}

.notebook tab.top:active
{
    border-right-color: @border_color;
    border-left-color: @base_color;
    padding-bottom: 2px;
}

.notebook tab.bottom
{
    padding-top: 1px;
    border-right-color: @border_color1;
    border-left-color: @border_color1;
    border-bottom-color: @border_color1;
}

.notebook tab:first-child.bottom
{
    border-left-color: @base_color;
}

.notebook tab.bottom:active
{
    border-right-color: @border_color;
    border-left-color: @base_color;
    border-bottom-color: @border_color;
    padding-top: 2px;
}

.notebook tab.left
{
    padding-right: 1px;
    border-bottom-color: @border_color1;
    border-top-color: @border_color1;
}

.notebook tab:first-child.left
{
    border-top-color: @base_color;
}

.notebook tab.left:active
{
    border-bottom-color: @border_color;
    border-top-color: @base_color;
    padding-right: 2px;
}

.notebook tab.right
{
    padding-left: 1px;
    border-bottom-color: @border_color1;
    border-top-color: @border_color1;
    border-right-color: @border_color1;
}

.notebook tab:first-child.right
{
    border-top-color: @base_color;
}

.notebook tab.right:active
{
    border-bottom-color: @border_color;
    border-top-color: @base_color;
    border-right-color: @border_color;
    padding-left: 2px;
}
/**********************************************/


/**********************************************/
.sidebar,
.sidebar.view 
{
    background-color: shade(@bg_color, 1.05);
}

.sidebar row:prelight,
.sidebar.view row:prelight 
{
    background-color: @bg_color;
}

.sidebar row:selected,
.sidebar row:selected:prelight
{
    background-color: @selected_bg_color;
}
/**********************************************/


/**********************************************/
.expander 
{
    border-color: @fg_color;
}

.info 
{
    background-color: @info_bg_color;
    color: @info_fg_color;
}

.warning 
{
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

.question 
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

.error 
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}
/**********************************************/
